* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Tangerine', serif;
  }

  nav {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    grid-area: header;
    background-color: #FFD6FF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left middle middle middle middle right' 
      'footer footer footer footer footer footer';
  } 
  
  .left,
  .middle,
  .right {
    padding: 10px;
  }
  
  .left {
    grid-area: left;
    background-color: #E7C6FF;
  }

  .left img {
    height: 200px;
    width: auto;
  }
  
  .middle {
    grid-area: middle;
    background-color: #C8B6FF;
    font-family: Gabriola;
    overflow: scroll;
  }
  
  .right {
    grid-area: right;
    background-color: #B8C0FF;
  }

  .right img {
    height: 200px;
    width: 200px;
  }
  
  .footer {
    grid-area: footer;
    background-color:#BBD0FF;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
  }