* {
  box-sizing: border-box;
}

body {
  font-family: 'Tangerine', serif;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-area: header;
  background-color: #FFD6FF;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left middle middle middle middle right"
    "footer footer footer footer footer footer";
}

.left,
.middle,
.right {
  padding: 10px;
}

.left {
  grid-area: left;
  background-color: #e7c6ff;
}

.left img {
  height: 200px;
  width: 200px;
}

.middle {
  grid-area: middle;
  background-color: #c8b6ff;
  font-family: Gabriola;
  overflow: scroll;
}

.right {
  grid-area: right;
  background-color: #b8c0ff;
}

.right img {
  height: 200px;
  width: 200px;
}

.footer {
  grid-area: footer;
  background-color: #bbd0ff;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "left left left left left left"
      "middle middle middle middle middle middle"
      "right right right right right right"
      "footer footer footer footer footer footer";
  }
}

.card {
  margin: 10px;
}

.card .card-img-top {
  height: 150px;
  width: 150px;
  padding-top: 10px;
}
